{{!< default}}

<section class="my-5">
  <p>
    We’re a fashion tech company whose whole purpose is to teach computers to love fashion, so they can help you choose clothes you'll love. You’ll have your very own AI stylist.
Computer vision and machine learning is our passion which helps us better understand style and fashion.
  </p>
</section>
<section class="row align-items-center my-5">
  <div class="col-sm-9 col-12">
    <h2 class="mb-3">Rag Meter</h2>
    <p>
      Size matters! Especially yours. And since we are well aware that you want to avoid any unpleasant surprises, we have made a neat little tool for you. Try out our new foot measuring app and you'll never have to guess how well-endowed you really are!
    </p>
    <p class="mt-5 text-center">
      <a href="https://app.rag-ai.com" class="btn btn-outline-dark">Technology Preview</a>
    </p>
  </div>
  <div class="col-sm-3 d-none d-sm-block">
    <img src="{{asset "rag-meter.svg"}}" class="img-fluid">
  </div>
</section>
