{{!< default}}

<section class="my-5">
  <p>
    <strong>Naučíme vaše data odpovídat na otázky.</strong>
  </p>
  <p>
    Retrieval Augmented Generation (RAG) kombinuje sémantické vyhledávání informací s generováním odpovědi v přirozeném jazyce.
  </p>
</section>